@charset "UFT-8";


:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-dark: #343a40;
    --bs-navbar-color: #5004b5;
  }

  /* navbar */
  nav{
    background-color: var(--bs-dark);  
    color: var(--bs-light);
  }


/* btn voltar */
a{
    max-width: 1140px; 
    display: flex;
    margin-left: auto !important;
    color: var(--bs-body-bg);
    left: 93%;
}
a:hover{
    color: #5004b5;
}

/* cabeça */
@media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
      right: 94%;
    }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
    /* imagem de fundo e corpo */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    background-image: url('../assets/img/team/cdst.avif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center; 
    background-size: cover;
}

/* msg ja tem uma conta? */
h6{
    color: #ffffff;
}


/* box */
.container {
    background-color: #0f0f0f;
    padding: 15px;
    border-radius: 13px;
    box-shadow: var(--bs-indigo);
    width: 600px;
    height: 570px;
}


.container h2 {
    margin-bottom: 20px;
    color: var(--bs-indigo);
}

.container a{
    background-color: #5104b500;
    color: var(--bs-navbar-color);
}

.container input, .container select, .container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #292929;
    color: #fff;
}

.container button {
    background-color: #5004b5;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #5004b5;
    border: #000000;
}


/* Estilo para alinhar a mensagem e o botão */
.container .account-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.container .account-message h6 {
    margin: 0;
}

.container .account-message a {
    margin-left: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #5004b5;
    border-radius: 10px;
}

.form-group{
    margin-bottom: 1rem;
    line-height: 1px;
}
