@charset "UFT-8";
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc800;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #ffc800;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc800;
    --bs-danger: #dc355f;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    /* nomeamento do site */
    --bs-primary-rgb: 80, 4, 181;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 200, 0;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #ffc800;
    --bs-link-hover-color: #cca000;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff4cc;
    --bs-navbar-color: #5004b5;
  }

  /* navbar */
  nav{
    background-color: #495057;  
    color: var(--bs-light);
  }


/* btn voltar */
a{
    max-width: 1140px;
    display: flex;
    color: var(--bs-yellow);
    margin-left: auto !important;
}


/* cabeça */
@media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
    /* imagem de fundo e corpo */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    background-image: url('../assets/img/about/fundo_escola.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

/* msg ja tem uma conta? */
h6{
    color: #000;
}

/* Btn entrar */
 .container a{
    color: white;
    background-color: #5004b5;
    border-radius: 10px;
    height: 60%;
 }


/* box */
.container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}
/* cor do h2 da box */
.container h2 {
    margin-bottom: 20px;
    color: #000000;
}

.container input, .container select, .container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #292929;
    color: #fff;
}

.container button {
    background-color: #5004b5;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #5004b5;
    border: #000000;
}


/* Estilo para alinhar a mensagem e o botão */
.container .account-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.container .account-message h6 {
    margin: 0;
}

.container .account-message a {
    margin-left: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #5004b5;
    border-radius: 10px;
}


