@charset "UTF-8";
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-dark: #343a40;
    --bs-navbar-color: #5004b5;
}

/* navbar */
.navbar{
  background-color: var(--bs-dark);
}

button, input{
  border: #000;
  border-radius: 0.5rem;
  background-color: #000;
}

label{
  background-color: #000;
}

a {
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  display: flex;
  color: var(--bs-gray-100);
  margin-left: auto !important;
}
a:hover{
  color: #5004b5;
  border: #000;
}


body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  background-image: url('../assets/img/team/cdst.avif');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.container a {
  color: var(--bs-navbar-color);
  background-color: #5004b500;
  border-radius: 10px;
  width: 100px;
}

.container {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.container h2 {
  margin-bottom: 20px;
  color: #5004b5;
}


.form

.container input,
.container select,
.container button {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #292929;
  color: #fff;
}

.container button {
  background-color: #5004b5;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container button:hover {
  background-color: #5004b5;
  border: #000000;
}
.cadastro{
  background-color: #000;
  color: var(--bs-blue);
}


@media (min-width: 992px) {
  #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
      left: 93%;
  }
}
